### step 1 : Problem Statement

### step 2 : Data Gathering

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('flight.csv')
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

### step 3: EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [4]:
df.isna().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

### step 4 : Feature Engineering

In [5]:
df['airline'].value_counts()

Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: airline, dtype: int64

In [6]:
df = pd.get_dummies(df, columns=['airline'])
df.head()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,0,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,0,0,0,0,1,0
1,1,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,0,0,0,0,1,0
2,2,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,1,0,0,0,0,0
3,3,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,0,0,0,0,0,1
4,4,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,0,0,0,0,0,1

In [7]:
df['flight'].unique()

array(['SG-8709', 'SG-8157', 'I5-764', ..., '6E-7127', '6E-7259',
       'AI-433'], dtype=object)

In [8]:
df['flight_name']=df['flight'].str.split('-').str[0]

In [9]:
df['flight_no']=df['flight'].str.split('-').str[1]

In [10]:
df.head()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,flight_name,flight_no
0,0,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,0,0,0,0,1,0,SG,8709
1,1,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,0,0,0,0,1,0,SG,8157
2,2,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,1,0,0,0,0,0,I5,764
3,3,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,0,0,0,0,0,1,UK,995
4,4,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,0,0,0,0,0,1,UK,963

In [11]:
df['flight_name'].unique()

array(['SG', 'I5', 'UK', 'G8', '6E', 'AI'], dtype=object)

In [12]:
df = pd.get_dummies(df, columns= ['flight_name'])

In [13]:
df['source_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [14]:
df = pd.get_dummies(df, columns= ['source_city'])

In [15]:
df['departure_time'].unique()

array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night'], dtype=object)

In [16]:
df = pd.get_dummies(df, columns= ['departure_time'])

In [17]:
df['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

In [18]:
le = LabelEncoder()

df['stops'] = le.fit_transform(df['stops'])

NameError: name 'LabelEncoder' is not defined

In [ ]:
df['stops'] = list(le.inverse_transform(df['stops']))

In [ ]:
df['stops'].unique()

In [ ]:
df['stops'] = df['stops'].replace({2:0 , 0:1, 1:3})

In [ ]:
df.head()

In [ ]:
df['arrival_time'].unique()

df = pd.get_dummies(df, columns= ['arrival_time'])

In [ ]:
df['destination_city'].unique()

In [ ]:
df = pd.get_dummies(df, columns= ['destination_city'])

In [ ]:
df['class'].unique()

In [ ]:
df['class'] = df['class'].replace({'Economy':0 , 'Business':1})

In [ ]:
df.columns

In [ ]:
df['duration']

In [ ]:
df.info()

### step 5 : Feature Selection

In [ ]:
final_df = df.drop(columns= ['flight','flight_no'], axis=1)

In [ ]:
final_df.drop(['Unnamed: 0'], axis=1, inplace=True)
final_df

In [ ]:
final_df.info()

### step 6: Model Training

#### 1. Linear Regression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

x= final_df.drop('price', axis=1)
y= final_df['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20, test_size = 0.2)

In [ ]:
lin_reg_model = LinearRegression()
lin_reg_model.fit(x_train, y_train)

In [ ]:
def model_eval(actual, pred):
    mse = mean_squared_error(actual,pred)
    print(f'Mean Squared Error - {mse}')
    print(f'Root of Mean Squared Error - {np.sqrt(mse)}')
    
    mae = mean_absolute_error(actual,pred)
    print(f'Mean Absolute Error - {mae}')

    r2 = r2_score(actual,pred)
    print(f'R2 Score - {r2}')

In [ ]:
# Training Data Evaluation

y_pred_train = lin_reg_model.predict(x_train)

model_eval(y_train, y_pred_train)

In [ ]:
# Testing Data Evaluation

y_pred_test = lin_reg_model.predict(x_test)

model_eval(y_test, y_pred_test)

#### 2. Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20, test_size = 0.2)
dt_model = DecisionTreeRegressor(random_state=10)
dt_model.fit(x_train, y_train)

In [ ]:
# Training Data Evaluation

y_pred_train = dt_model.predict(x_train)
model_eval(y_train, y_pred_train)

print("*"*40)
# Testing Data Evaluation

y_pred_test = dt_model.predict(x_test)
model_eval(y_test, y_pred_test)

#### 3 Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rm_model = RandomForestRegressor()
rm_model.fit(x_train, y_train)

In [ ]:
# Training Data Evaluation

y_pred_train = rm_model.predict(x_train)
model_eval(y_train, y_pred_train)

print("*"*40)
# Testing Data Evaluation

y_pred_test = rm_model.predict(x_test)
model_eval(y_test, y_pred_test)

concluded Model = dt_model(decision tree)

In [ ]:
import pickle 
with open('model.pkl','wb') as file:
    pickle.dump(dt_model,file)