### step 1 : Problem Statement

### step 2 : Data Gathering

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('flight.csv')
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

### step 3: EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [4]:
df.isna().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

### step 4 : Feature Engineering

In [5]:
df['airline'].value_counts()

Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: airline, dtype: int64

In [6]:
df = pd.get_dummies(df, columns=['airline'])
df.head()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,0,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,0,0,0,0,1,0
1,1,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,0,0,0,0,1,0
2,2,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,1,0,0,0,0,0
3,3,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,0,0,0,0,0,1
4,4,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,0,0,0,0,0,1

In [7]:
df['flight'].unique()

array(['SG-8709', 'SG-8157', 'I5-764', ..., '6E-7127', '6E-7259',
       'AI-433'], dtype=object)

In [8]:
df['flight_name']=df['flight'].str.split('-').str[0]

In [9]:
df['flight_no']=df['flight'].str.split('-').str[1]

In [10]:
df.head()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,flight_name,flight_no
0,0,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,0,0,0,0,1,0,SG,8709
1,1,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,0,0,0,0,1,0,SG,8157
2,2,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,1,0,0,0,0,0,I5,764
3,3,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,0,0,0,0,0,1,UK,995
4,4,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,0,0,0,0,0,1,UK,963

In [11]:
df['flight_name'].unique()

array(['SG', 'I5', 'UK', 'G8', '6E', 'AI'], dtype=object)

In [12]:
df = pd.get_dummies(df, columns= ['flight_name'])

In [13]:
df['source_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [14]:
df = pd.get_dummies(df, columns= ['source_city'])

In [15]:
df['departure_time'].unique()

array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night'], dtype=object)

In [16]:
df = pd.get_dummies(df, columns= ['departure_time'])

In [17]:
df['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

In [21]:
df['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

In [37]:
df['stops'] = df['stops'].replace({'zero':0 , 'one':1, 'two_or_more':3})

In [38]:
df.head()

,Unnamed: 0,flight,stops,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai
0,0,SG-8709,0,0,2.17,1,5953,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,1,SG-8157,0,0,2.33,1,5953,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2,I5-764,0,0,2.17,1,5956,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,UK-995,0,0,2.25,1,5955,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,UK-963,0,0,2.33,1,5955,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [24]:
df['arrival_time'].unique()

df = pd.get_dummies(df, columns= ['arrival_time'])

In [25]:
df['destination_city'].unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)

In [26]:
df = pd.get_dummies(df, columns= ['destination_city'])

In [27]:
df['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [28]:
df['class'] = df['class'].replace({'Economy':0 , 'Business':1})

In [29]:
df.columns

Index(['Unnamed: 0', 'flight', 'stops', 'class', 'duration', 'days_left',
       'price', 'airline_AirAsia', 'airline_Air_India', 'airline_GO_FIRST',
       'airline_Indigo', 'airline_SpiceJet', 'airline_Vistara', 'flight_no',
       'flight_name_6E', 'flight_name_AI', 'flight_name_G8', 'flight_name_I5',
       'flight_name_SG', 'flight_name_UK', 'source_city_Bangalore',
       'source_city_Chennai', 'source_city_Delhi', 'source_city_Hyderabad',
       'source_city_Kolkata', 'source_city_Mumbai', 'departure_time_Afternoon',
       'departure_time_Early_Morning', 'departure_time_Evening',
       'departure_time_Late_Night', 'departure_time_Morning',
       'departure_time_Night', 'arrival_time_Afternoon',
       'arrival_time_Early_Morning', 'arrival_time_Evening',
       'arrival_time_Late_Night', 'arrival_time_Morning', 'arrival_time_Night',
       'destination_city_Bangalore', 'destination_city_Chennai',
       'destination_city_Delhi', 'destination_city_Hyderabad',
       'destination_city_Kolkata', 'destination_city_Mumbai'],
      dtype='object')

In [30]:
df['duration']

0          2.17
1          2.33
2          2.17
3          2.25
4          2.33
          ...
300148    10.08
300149    10.42
300150    13.83
300151    10.00
300152    10.08
Name: duration, Length: 300153, dtype: float64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 44 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    300153 non-null  int64
 1   flight                        300153 non-null  object
 2   stops                         300153 non-null  int64
 3   class                         300153 non-null  int64
 4   duration                      300153 non-null  float64
 5   days_left                     300153 non-null  int64
 6   price                         300153 non-null  int64
 7   airline_AirAsia               300153 non-null  uint8
 8   airline_Air_India             300153 non-null  uint8
 9   airline_GO_FIRST              300153 non-null  uint8
 10  airline_Indigo                300153 non-null  uint8
 11  airline_SpiceJet              300153 non-null  uint8
 12  airline_Vistara               300153 non-null  uint8
 13  flight_no                     300153 non-null  object
 14  flight_name_6E                300153 non-null  uint8
 15  flight_name_AI                300153 non-null  uint8
 16  flight_name_G8                300153 non-null  uint8
 17  flight_name_I5                300153 non-null  uint8
 18  flight_name_SG                300153 non-null  uint8
 19  flight_name_UK                300153 non-null  uint8
 20  source_city_Bangalore         300153 non-null  uint8
 21  source_city_Chennai           300153 non-null  uint8
 22  source_city_Delhi             300153 non-null  uint8
 23  source_city_Hyderabad         300153 non-null  uint8
 24  source_city_Kolkata           300153 non-null  uint8
 25  source_city_Mumbai            300153 non-null  uint8
 26  departure_time_Afternoon      300153 non-null  uint8
 27  departure_time_Early_Morning  300153 non-null  uint8
 28  departure_time_Evening        300153 non-null  uint8
 29  departure_time_Late_Night     300153 non-null  uint8
 30  departure_time_Morning        300153 non-null  uint8
 31  departure_time_Night          300153 non-null  uint8
 32  arrival_time_Afternoon        300153 non-null  uint8
 33  arrival_time_Early_Morning    300153 non-null  uint8
 34  arrival_time_Evening          300153 non-null  uint8
 35  arrival_time_Late_Night       300153 non-null  uint8
 36  arrival_time_Morning          300153 non-null  uint8
 37  arrival_time_Night            300153 non-null  uint8
 38  destination_city_Bangalore    300153 non-null  uint8
 39  destination_city_Chennai      300153 non-null  uint8
 40  destination_city_Delhi        300153 non-null  uint8
 41  destination_city_Hyderabad    300153 non-null  uint8
 42  destination_city_Kolkata      300153 non-null  uint8
 43  destination_city_Mumbai       300153 non-null  uint8
dtypes: float64(1), int64(5), object(2), uint8(36)
memory usage: 28.6+ MB

### step 5 : Feature Selection

In [40]:
final_df = df.drop(columns= ['flight','flight_no'], axis=1)

In [41]:
final_df.drop(['Unnamed: 0'], axis=1, inplace=True)
final_df

,stops,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai
0,0,0,2.17,1,5953,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
1,0,0,2.33,1,5953,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,2.17,1,5956,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,2.25,1,5955,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,2.33,1,5955,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,1,1,10.08,49,69265,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
300149,1,1,10.42,49,77105,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
300150,1,1,13.83,49,79099,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
300151,1,1,10.00,49,81585,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
300152,1,1,10.08,49,81585,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [42]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 41 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   stops                         300153 non-null  int64
 1   class                         300153 non-null  int64
 2   duration                      300153 non-null  float64
 3   days_left                     300153 non-null  int64
 4   price                         300153 non-null  int64
 5   airline_AirAsia               300153 non-null  uint8
 6   airline_Air_India             300153 non-null  uint8
 7   airline_GO_FIRST              300153 non-null  uint8
 8   airline_Indigo                300153 non-null  uint8
 9   airline_SpiceJet              300153 non-null  uint8
 10  airline_Vistara               300153 non-null  uint8
 11  flight_name_6E                300153 non-null  uint8
 12  flight_name_AI                300153 non-null  uint8
 13  flight_name_G8                300153 non-null  uint8
 14  flight_name_I5                300153 non-null  uint8
 15  flight_name_SG                300153 non-null  uint8
 16  flight_name_UK                300153 non-null  uint8
 17  source_city_Bangalore         300153 non-null  uint8
 18  source_city_Chennai           300153 non-null  uint8
 19  source_city_Delhi             300153 non-null  uint8
 20  source_city_Hyderabad         300153 non-null  uint8
 21  source_city_Kolkata           300153 non-null  uint8
 22  source_city_Mumbai            300153 non-null  uint8
 23  departure_time_Afternoon      300153 non-null  uint8
 24  departure_time_Early_Morning  300153 non-null  uint8
 25  departure_time_Evening        300153 non-null  uint8
 26  departure_time_Late_Night     300153 non-null  uint8
 27  departure_time_Morning        300153 non-null  uint8
 28  departure_time_Night          300153 non-null  uint8
 29  arrival_time_Afternoon        300153 non-null  uint8
 30  arrival_time_Early_Morning    300153 non-null  uint8
 31  arrival_time_Evening          300153 non-null  uint8
 32  arrival_time_Late_Night       300153 non-null  uint8
 33  arrival_time_Morning          300153 non-null  uint8
 34  arrival_time_Night            300153 non-null  uint8
 35  destination_city_Bangalore    300153 non-null  uint8
 36  destination_city_Chennai      300153 non-null  uint8
 37  destination_city_Delhi        300153 non-null  uint8
 38  destination_city_Hyderabad    300153 non-null  uint8
 39  destination_city_Kolkata      300153 non-null  uint8
 40  destination_city_Mumbai       300153 non-null  uint8
dtypes: float64(1), int64(4), uint8(36)
memory usage: 21.8 MB

### step 6: Model Training

#### 1. Linear Regression

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

x= final_df.drop('price', axis=1)
y= final_df['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20, test_size = 0.2)

In [44]:
lin_reg_model = LinearRegression()
lin_reg_model.fit(x_train, y_train)

LinearRegression()

In [45]:
def model_eval(actual, pred):
    mse = mean_squared_error(actual,pred)
    print(f'Mean Squared Error - {mse}')
    print(f'Root of Mean Squared Error - {np.sqrt(mse)}')
    
    mae = mean_absolute_error(actual,pred)
    print(f'Mean Absolute Error - {mae}')

    r2 = r2_score(actual,pred)
    print(f'R2 Score - {r2}')

In [46]:
# Training Data Evaluation

y_pred_train = lin_reg_model.predict(x_train)

model_eval(y_train, y_pred_train)

Mean Squared Error - 47827923.79463794
Root of Mean Squared Error - 6915.7735499825285
Mean Absolute Error - 4474.669400671846
R2 Score - 0.9072298550953712

In [47]:
# Testing Data Evaluation

y_pred_test = lin_reg_model.predict(x_test)

model_eval(y_test, y_pred_test)

Mean Squared Error - 47256530.80181511
Root of Mean Squared Error - 6874.338571951131
Mean Absolute Error - 4444.364009324349
R2 Score - 0.9080064081055139

#### 2. Decision Tree

In [48]:
from sklearn.tree import DecisionTreeRegressor

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20, test_size = 0.2)
dt_model = DecisionTreeRegressor(random_state=10)
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(random_state=10)

In [49]:
# Training Data Evaluation

y_pred_train = dt_model.predict(x_train)
model_eval(y_train, y_pred_train)

print("*"*40)
# Testing Data Evaluation

y_pred_test = dt_model.predict(x_test)
model_eval(y_test, y_pred_test)

Mean Squared Error - 379122.5772156098
Root of Mean Squared Error - 615.7293051460274
Mean Absolute Error - 59.88190864088533
R2 Score - 0.9992646292451263
****************************************
Mean Squared Error - 11957460.209129449
Root of Mean Squared Error - 3457.9560739155504
Mean Absolute Error - 1149.3381669470773
R2 Score - 0.9767225884780573

#### 3 Random Forest

In [50]:
from sklearn.ensemble import RandomForestRegressor

rm_model = RandomForestRegressor()
rm_model.fit(x_train, y_train)

RandomForestRegressor()

In [51]:
# Training Data Evaluation

y_pred_train = rm_model.predict(x_train)
model_eval(y_train, y_pred_train)

print("*"*40)
# Testing Data Evaluation

y_pred_test = rm_model.predict(x_test)
model_eval(y_test, y_pred_test)

Mean Squared Error - 1300749.0950282076
Root of Mean Squared Error - 1140.503877691
Mean Absolute Error - 420.2989518516835
R2 Score - 0.9974769826399226
****************************************
Mean Squared Error - 7358557.569911797
Root of Mean Squared Error - 2712.6661368314008
Mean Absolute Error - 1062.8456934085377
R2 Score - 0.9856752044525336

concluded Model = dt_model(decision tree)

In [60]:
airline='SpiceJet'
flight_name= 'SG'
source_city='Delhi'
departure_time='Evening'
stops= 0
arrival_time= 'Night'
destination_city='Mumbai'
flight_class=0
duration=2.17
days_left=1

#SpiceJet	SG-8709	Delhi	Evening	zero	Night	Mumbai	Economy	2.17	1	5953
array = np.zeros(x.shape[1])

array[0] = stops 
array[1] = flight_class
array[2] = duration
array[3]= days_left

columns_list = x.columns
airline_value = 'airline_' + airline
airline_index = np.where(columns_list==airline_value)[0][0]
array[airline_index] = 1

flight_name_value = 'flight_name_' + flight_name
flight_name_index = np.where(columns_list==flight_name_value)[0][0]
array[flight_name_index] = 1

source_city_value = 'source_city_' + source_city
source_city_index = np.where(columns_list==source_city_value)[0][0]
array[source_city_index] = 1

departure_time_value = 'departure_time_' + departure_time
departure_time_index = np.where(columns_list==departure_time_value)[0][0]
array[departure_time_index] = 1

arrival_time_value = 'arrival_time_' + arrival_time
arrival_time_index = np.where(columns_list==arrival_time_value)[0][0]
array[arrival_time_index] = 1

destination_city_value = 'destination_city_' + destination_city
destination_city_index = np.where(columns_list==destination_city_value)[0][0]
array[destination_city_index] = 1

print(array)

pred = dt_model.predict([array])
pred

[0.   0.   2.17 1.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.
 1.   0.   0.   0.   1.   0.   0.   0.   0.   0.   1.   0.   0.   0.
 0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   1.  ]

C:\Users\dell\anaconda3\envs\flight\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([5953.])

In [ ]:
#SpiceJet	SG-8709	Delhi	Evening	zero	Night	Mumbai	Economy	2.17	1	5953

In [54]:
x.shape[1]

40

In [61]:
columns_list = x.columns
columns_list = list(columns_list)
columns_list
col = {'columns':columns_list}
col

{'columns': ['stops',
  'class',
  'duration',
  'days_left',
  'airline_AirAsia',
  'airline_Air_India',
  'airline_GO_FIRST',
  'airline_Indigo',
  'airline_SpiceJet',
  'airline_Vistara',
  'flight_name_6E',
  'flight_name_AI',
  'flight_name_G8',
  'flight_name_I5',
  'flight_name_SG',
  'flight_name_UK',
  'source_city_Bangalore',
  'source_city_Chennai',
  'source_city_Delhi',
  'source_city_Hyderabad',
  'source_city_Kolkata',
  'source_city_Mumbai',
  'departure_time_Afternoon',
  'departure_time_Early_Morning',
  'departure_time_Evening',
  'departure_time_Late_Night',
  'departure_time_Morning',
  'departure_time_Night',
  'arrival_time_Afternoon',
  'arrival_time_Early_Morning',
  'arrival_time_Evening',
  'arrival_time_Late_Night',
  'arrival_time_Morning',
  'arrival_time_Night',
  'destination_city_Bangalore',
  'destination_city_Chennai',
  'destination_city_Delhi',
  'destination_city_Hyderabad',
  'destination_city_Kolkata',
  'destination_city_Mumbai']}

In [52]:
import pickle 
with open('model.pkl','wb') as file:
    pickle.dump(dt_model,file)

In [62]:
import json
with open('column_list.json','w') as file:
    json.dump(col,file)